<div class="unit one-fifth hide-on-mobiles">
  {% for link in site.data.index %}
     {% include docs_ul.html items=link.docs %}
     {% if link.url %}
       {% if link.url contains 'http' %}
           {% assign domain = '' %}
       {% else %}
           {% assign domain = site.url %}
       {% endif %} 
       <li><a href="{{ domain }}{{ link.url }}" {% if link.url contains 'http' %}target="_blank"{% endif %}>{{ link.url.urlTitle }}</a></li>
       <br>
     {% endif %} 
  {% endfor %}
</div>
